<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_LocaleFallback>
            <version>0.0.1</version>
        </Hackathon_LocaleFallback>
    </modules>
    <global>
        <models>
            <hackathon_localefallback>
                <class>Hackathon_LocaleFallback_Model</class>
            </hackathon_localefallback>
            <core>
                <rewrite>
                    <translate>Hackathon_LocaleFallback_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
        <helpers>
            <hackathon_localefallback>
                <class>Hackathon_LocaleFallback_Helper</class>
            </hackathon_localefallback>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <admin_system_config_changed_section_general>
                <observers>
                    <hackathon_locale_fallback_observer>
                        <type>model</type>
                        <class>Hackathon_LocaleFallback_Model_Observer</class>
                        <method>compareLocales</method>
                    </hackathon_locale_fallback_observer>
                </observers>
            </admin_system_config_changed_section_general>
        </events>
    </adminhtml>
</config>
