<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_LocaleFallback>
            <version>0.0.1</version>
        </Hackathon_LocaleFallback>
    </modules>
    <global>
        <models>
            <hackathon_localefallback>
                <class>Hackathon_LocaleFallback_Model</class>
            </hackathon_localefallback>
            <core>
                <rewrite>
                    <translate>Hackathon_LocaleFallback_Model_Translate</translate>
                </rewrite>
            </core>
        </models>
    </global>
</config>
